@{
    Bucket.Title = "Админка";
    Layout = "_LayoutAdmin";
    
}



<div class="row layout">
    <div class="col-3">
    </div>
    <div class="col-6">
        <h4>Это админка</h4>
        
    </div>
    <div class="col-3">
        
    </div>
</div>